<center>
	<h1>Timetracking tool</h1>
	<a href="/">Home</a><br>
	<a href="/projects">Projects</a>
	<h2><%= @project.name %> <br>-------------------------<br> Entries:</h2>
	<ul>
		
		<% @entries.each do |entry|%>
			Date: <%= entry.date %><br>
			<%= entry.hours %> hours<br>
			<%= entry.minutes %> minutes<br>
			<a href="/projects/<%= @project.id %>/entries/<%= entry.id %>/edit">Update entry</a><br><br>
			<%= button_to "Delete", "/projects/#{@project.id}/entries/#{entry.id}", method: :delete, data: {confirm: "Are you sure you want to delete this entry?"}%><br>
			--------------------------------------<br>

		<% end %>
		
	</ul>
	<a href="/projects/<%= @project.id %>/entries/new">Create new entry</a>

</center>
