<center>
	<a href="/">Home</a><br>
	<a href="/projects/new">Make New project</a>
	<ul>
		<h1>List of projects<br>----------------------------</h1>
		<% if flash[:notice].present? %>
			<div class="messages">
				<%= flash[:notice] %>
			</div>
		<% end %><br>
		<% @projects_list.each do |project| %>
			<h1>Name: <%= project.name %><br></h1>
			<% if project.description != nil %>
				<h2>Description: <%= project.description%><br></h2><br>
				<h3>Update: <a href="/projects/<%= project.id %>/edit">Click here</a></h3>
				<h3>Entries: <a href="/projects/<%= project.id %>/entries">Click here</a></h3>
				<%= button_to "Delete", project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}%>
			<% end %>
			<h1>---------------------------------------------</h1>
		<% end %>
		
	</ul>
</center>